/* PLUGIN CHANGED FOR SHOWRIDER */




.dg-container {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 80px;
}

.dg-wrapper {
    width: 481px;
    height: 316px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}

.dg-wrapper .dg_item {
    width: 482px;
    height: 316px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    /* background: transparent url(../images/browser.png) no-repeat top left; */
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */
}

.dg-wrapper .dg_item.dg-transition {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.dg-wrapper .dg_item img {
    display: block;
    padding: 0px 0px 0px 0px;
}

.dg-wrapper .dg_item div {
    font-style: italic;
    text-align: center;
    line-height: 50px;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); */
    /*color: #333;
    */
    /*font-size: 16px;
    */
    width: auto;
    bottom: -10px;
    /*display: none;
    */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    font-family: 'SF-Pro-Regular';
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    padding: 5px;
    left: 50%;
    transform: translate(-45%, 0);
    -webkit-transform: translate(-45%, 0);
    -moz-transform: translate(-45%, 0);
    -ms-transform: translate(-45%, 0);
    -o-transform: translate(-45%, 0);
    text-align: center;
    font-style: normal;

}

.dg-wrapper .dg_item.dg-center div {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.dg-container nav {
    /* width: 58px;
    position: absolute;
    z-index: 1000;
    bottom: 40px;
    left: 50%;
    margin-left: -29px; */

    width: 100%;
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    margin-left: 0;
    top: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    pointer-events: none;
}

.dg-container nav span {
    /* text-indent: -9000px; */
    float: left;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0.8;
    /* background-color: #fff; */
    border: 2px solid #ffffff;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    /* background: transparent url(../images/arrows.png) no-repeat top left; */
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    pointer-events: auto;
}

.dg-container nav span:hover {
    opacity: 1;
    background-color: #fff;
    color: #585858;
}

.dg-container nav span.dg-next {
    background-position: top right;
    margin-left: 10px;
}
















@media(max-width:1200px) {
    .dg-container {
        margin-bottom: 100px;
        height: 300px;
    }

    .dg-wrapper .dg_item div {
        bottom: 0;
    }

}

@media(max-width:1024px) {
    .dg-container {
        /* margin-bottom: 50px; */
        margin-bottom: 5px;
    }
}

@media(max-width:576px) {

    .dg-container {
        /* overflow: hidden; */
        margin-bottom: 0px;
    }


    .dg-wrapper {
        width: 100%;
        /* height: auto; */
    }

    .dg-wrapper .dg_item {
        width: 100%;
        /* height: auto; */
    }

    .dg-wrapper .dg_item img {
        /* width: 100%; */
        padding: 0;
    }

    .dg-wrapper .dg_item div {
        bottom: 10px;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 12px;
    }

    .dg-wrapper .dg_item.dg-center {
        overflow: hidden;
        max-width: 100%;
    }

    /* .dg-container nav {
        padding: 0 15px;
    } */


}