.gd_custom_right_25
{
	right:25px !important;
}

.gl_product_listing_img_wrapper
{
	/*min-height:340px !important;*/
}

.gl_product_listing_img_wrapper img
{
    /*display:none;*/
	opacity:0;
	
}


.force_white_link_color a
{
   color:#fff !important;
	
}


.se-pre-con {
    position: relative;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 15px;
    z-index: 9990;
    float: right;
    background: url(../images/loading1.gif) center no-repeat #fff0;
}

.prodloader{width:60px;height:60px;margin:0 auto;top:40%;left:40%;position:absolute;background-image:url(../images/loading.gif);background-repeat:no-repeat;background-position:center;}


.gl_link_fullwidth
{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 150;
}


.gl_image_blur
{
  filter: blur(8px);
  -webkit-filter: blur(8px);	
}



